<?xml version="1.0"?>
  <model>
    <name>NAME</name>
    <version>1.0</version>
    <sdf>urdf/manipulator.urdf</sdf>
    <author>
      <name>Danila Shulepin</name>
      <email>d.shulepin@innopolis.university</email>
    </author>
    <description>
      Simple 3D manipulator
    </description>
  </model>